.header{
  position: relative;
    width: 100%;
} 
 .img-people{
    width: 100%;    
}  
.navigation-bar{
    font-size: 90%;

}
.home{
    position: absolute;
    top:4%;
    left: 49%;
    color: white; 

}
.own-project{
    position: absolute;
    
    top:4%;
    left: 55%;
    color: white;
 
   

}

.services{
    position: absolute;
    top:4%;
    left:65%;
    color: white;
}
.new{
    position: absolute;
    top: 4%;
    left: 70%;
    color: white;
}
.contact{
    position: absolute;
    top:4%;
    color: white;
    left: 76%;
}
.texst{
    position: absolute;
    top: 35%;
    font-size: 16px;
    left: 45%;
    color: white;
}
.texst1{
    position: absolute;
left: 30%;
top: 37%;
color: #FFFFFF;
font-size: 300%;    
}
.but-all-project{
position: absolute;
width: 15%;
height: 7%;
left: 45%;
top: 65%;
background: #4985FF;
border: 0px;
border-radius: 30px;
font-size: 100%;
color: white;



}
@media screen and (max-width: 768px) {
    .navigation-bar {
      font-size: 65%;
  }
  }

    
@media screen and (max-width: 696px) {
    .navigation-bar {
      font-size: 40%;
  }
  }

  @media screen and (max-width: 470px) {
    .navigation-bar {
    font-size: 25%;
}
}

@media screen and (max-width: 420px) {
    .navigation-bar {
    font-size: 5%;
}
}

@media screen and (max-width: 360px) {
    .navigation-bar {
    font-size: 3%;
}
}