.subcribe{
    width: 730px;
height: 177px;

margin-top:85px;
margin-left: 370px;
}
.texst11{
    font-size: 18px;
    color:black;
    margin-left: 190px;
}
.texst12{
    font-size: 16px;
line-height: 25px;
margin-left: 120px;
margin-top: -10px;
}
.input{
    width: 299px;
height: 45px;
background: #FFFFFF;
font-size: 13px;
color: #999999;

border: 1px solid #F2F2F2;
box-sizing: border-box;
box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
border-radius: 30px;
padding-left: 30px;
margin-left: 110px;

}
.btn-podpisatso{
    background: #4985FF;
box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
border-radius: 0px 30px 30px 0px;
width: 190px;
height: 45px;
margin-left : -60px;
border: 0px;
}
.texst13{
    color: #999999;
    font-size: 13px;
    margin-left: 167px;
    margin-top: 30px;
}